*{
    font-family: sans-serif;
}

.sub-main{
    display: flex;
    text-align: center;
    margin-left: 30px;
}
h1 {
    text-align: center;
    color: purple;
}
.auto{
    height: 100px;
    width: 170px;
    border: 1px solid black;
    background: papayawhip;
    margin: 5px;
    cursor: auto;
}
.default{
    height: 100px;
    width: 170px;
    border: 1px solid black;
    background: orange;
    margin: 5px;
    cursor: default;
}
.none{
    height: 100px;
    width: 170px;
    border: 1px solid black;
    background: rebeccapurple;
    margin: 5px;
    cursor: none;
}
.help{
    height: 100px;
    width: 170px;
    border: 1px solid black;
    background: papayawhip;
    margin: 5px;
    cursor: help;
}
.pointer{
    height: 100px;
    width: 170px;
    border: 1px solid black;
    background: orange;
    margin: 5px;
    cursor: pointer;
}
.progress{
    height: 100px;
    width: 170px;
    border: 1px solid black;
    background: rebeccapurple;
    margin: 5px;
    cursor: progress;
}
.wait{
    height: 100px;
    width: 170px;
    border: 1px solid black;
    background: papayawhip;
    margin: 5px;
    cursor: wait;
}
.cell{
    height: 100px;
    width: 170px;
    border: 1px solid black;
    background: orange;
    margin: 5px;
    cursor: cell;
}
.crosshair{
    height: 100px;
    width: 170px;
    border: 1px solid black;
    background: rebeccapurple;
    margin: 5px;
    cursor: crosshair;
}
.text{
    height: 100px;
    width: 170px;
    border: 1px solid black;
    background: papayawhip;
    margin: 5px;
    cursor: text;
}
.vertical-text{
    height: 100px;
    width: 170px;
    border: 1px solid black;
    background: orange;
    margin: 5px;
    cursor: vertical-text;
}
.alias{
    height: 100px;
    width: 170px;
    border: 1px solid black;
    background: rebeccapurple;
    margin: 5px;
    cursor: alias;
}
.move{
    height: 100px;
    width: 170px;
    border: 1px solid black;
    background: papayawhip;
    margin: 5px;
    cursor: move;
}
.no-drop{
    height: 100px;
    width: 170px;
    border: 1px solid black;
    background: orange;
    margin: 5px;
    cursor: no-drop;
}
.not-allowed{
    height: 100px;
    width: 170px;
    border: 1px solid black;
    background: rebeccapurple;
    margin: 5px;
    cursor: not-allowed;
}
.e-resize{
    height: 100px;
    width: 170px;
    border: 1px solid black;
    background: papayawhip;
    margin: 5px;
    cursor: e-resize;
}
.n-resize{
    height: 100px;
    width: 170px;
    border: 1px solid black;
    background: orange;
    margin: 5px;
    cursor: n-resize;
}
.ne-resize{
    height: 100px;
    width: 170px;
    border: 1px solid black;
    background: rebeccapurple;
    margin: 5px;
    cursor: ne-resize;
}
.nw-resize{
    height: 100px;
    width: 170px;
    border: 1px solid black;
    background: papayawhip;
    margin: 5px;
    cursor: nw-resize;
}
.s-resize{
    height: 100px;
    width: 170px;
    border: 1px solid black;
    background: orange;
    margin: 5px;
    cursor: s-resize;
}
.se-resize{
    height: 100px;
    width: 170px;
    border: 1px solid black;
    background: rebeccapurple;
    margin: 5px;
    cursor: se-resize;
}
.sw-resize{
    height: 100px;
    width: 170px;
    border: 1px solid black;
    background: papayawhip;
    margin: 5px;
    cursor: sw-resize;
}
.w-resize{
    height: 100px;
    width: 170px;
    border: 1px solid black;
    background: orange;
    margin: 5px;
    cursor: w-resize;
}
.ew-resize{
    height: 100px;
    width: 170px;
    border: 1px solid black;
    background: rebeccapurple;
    margin: 5px;
    cursor: ew-resize;
}
.ns-resize{
    height: 100px;
    width: 170px;
    border: 1px solid black;
    background: papayawhip;
    margin: 5px;
    cursor: ns-resize;
}
.nesw-resize{
    height: 100px;
    width: 170px;
    border: 1px solid black;
    background: orange;
    margin: 5px;
    cursor: nesw-resize;
}
.nwse-resize{
    height: 100px;
    width: 170px;
    border: 1px solid black;
    background: rebeccapurple;
    margin: 5px;
    cursor: nwse-resize;
}
.col-resize{
    height: 100px;
    width: 170px;
    border: 1px solid black;
    background: papayawhip;
    margin: 5px;
    cursor: col-resize;
}
.row-resize{
    height: 100px;
    width: 170px;
    border: 1px solid black;
    background: orange;
    margin: 5px;
    cursor: row-resize;
}
.all-scroll{
    height: 100px;
    width: 170px;
    border: 1px solid black;
    background: rebeccapurple;
    margin: 5px;
    cursor: all-scroll;
}
.zoom-in{
    height: 100px;
    width: 170px;
    border: 1px solid black;
    background: papayawhip;
    margin: 5px;
    cursor: zoom-in;
}
.zoom-out{
    height: 100px;
    width: 170px;
    border: 1px solid black;
    background: orange;
    margin: 5px;
    cursor: zoom-out;
}
.grab{
    height: 100px;
    width: 170px;
    border: 1px solid black;
    background: rebeccapurple;
    margin: 5px;
    cursor: grab;
}
.grabbing{
    height: 100px;
    width: 170px;
    border: 1px solid black;
    background: papayawhip;
    margin: 5px;
    cursor: grabbing;
}
.context-menu{
    height: 100px;
    width: 170px;
    border: 1px solid black;
    background: orange;
    margin: 5px;
    cursor: context-menu;
}