*{
    font-family: sans-serif;
}
.main{
    width: 100%;
    height: 100vh;
    margin-bottom: 50px;
}
.sub-main{
    display: flex;
    justify-content: space-between;
    text-align: center;
   
}
h1 {
    text-align: center;
    color: purple;
}
.auto, .help, .wait, .text, .move, .e-resize, .nw-resize,.sw-resize,.ns-resize,.col-resize, .zoom-in, .grabbing{
    height: 100px;
    width: 170px;
    border: 1px solid black;
    background: papayawhip;
    margin: 5px;
    cursor: auto;
}
.default,.pointer, .cell, .vertical-text, .no-drop, .n-resize, .s-resize, .w-resize, .nesw-resize, .row-resize, .zoom-out, .context-menu{
    height: 100px;
    width: 170px;
    border: 1px solid black;
    background: orange;
    margin: 5px;
    cursor: default;
}
.none, .progress, .crosshair, .alias, .not-allowed, .ne-resize, .se-resize, .ew-resize, .nwse-resize, .all-scroll, .grab{
    height: 100px;
    width: 170px;
    border: 1px solid black;
    background: rebeccapurple;
    margin: 5px;
    cursor: none;
}
.help{
    
    cursor: help;
}
.pointer{
    cursor: pointer;
}
.progress{
    cursor: progress;
}
.wait{
    cursor: wait;
}
.cell{
    cursor: cell;
}
.crosshair{
    cursor: crosshair;
}
.text{
    cursor: text;
}
.vertical-text{
    cursor: vertical-text;
}
.alias{
    cursor: alias;
}
.move{
    cursor: move;
}
.no-drop{
    cursor: no-drop;
}
.not-allowed{
    cursor: not-allowed;
}
.e-resize{
    cursor: e-resize;
}
.n-resize{
    cursor: n-resize;
}
.ne-resize{
    cursor: ne-resize;
}
.nw-resize{
    cursor: nw-resize;
}
.s-resize{
    cursor: s-resize;
}
.se-resize{
    cursor: se-resize;
}
.sw-resize{
    cursor: sw-resize;
}
.w-resize{
    cursor: w-resize;
}
.ew-resize{
    cursor: ew-resize;
}
.ns-resize{
    cursor: ns-resize;
}
.nesw-resize{
    cursor: nesw-resize;
}
.nwse-resize{
    cursor: nwse-resize;
}
.col-resize{
    cursor: col-resize;
}
.row-resize{
    cursor: row-resize;
}
.all-scroll{
    cursor: all-scroll;
}
.zoom-in{
    cursor: zoom-in;
}
.zoom-out{
    cursor: zoom-out;
}
.grab{
    cursor: grab;
}
.grabbing{
    cursor: grabbing;
}
.context-menu{
    cursor: context-menu;
}

@media screen and (max-width:480px) {
    body{
        width: 200px;
        margin: 0 auto;
    }
    h1{
        font-size: 20px;
        width: 200px;

    }
    .sub-main{
        display: block;
    }  
}